* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-wenge: hsl(57, 11%, 35%);
  --color-pinetree: hsl(72, 6%, 16%);
  --color-gainsboro: hsl(0, 0%, 87%);
}

#main-container {
  min-height: 100vh;
}
